@using SaleDXGui.Domains
@using SaleDXGui.Models
@using System.Configuration;
@model SearchResultModel<List<FBAccountConfig>>
@{
    var TextPadUri = ConfigurationSettings.AppSettings.Get("TextPadUri");
}
@if (Model?.Data == null || Model.Data.Count == 0)
{
    <tr class="v-middle">
        <td class="text-muted text-center" colspan="4">
            Không tìm thấy kết quả
        </td>
    </tr>
}
else
{
    foreach (var item in Model.Data)
    {
        <tr class="v-middle">
            <td>
                <label class="ui-check m-0 ">
                    <input class="item-checkbox" type="checkbox" name="id" item-id="@item.Id">
                    <i></i>
                </label>
            </td>
            <td>
                <a href="/FBAccountConfig/Details?id=@item.Id">
                    @item.Code
                </a>
            </td>
            <td>
                @item.Name
            </td>
            <td>
                <div hidden id="Content_@item.Id">@Html.Raw(item.Content)</div>
                <a class="" href="@(TextPadUri + item.Code)" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye mx-2"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                </a>
            </td>
        </tr>
    }

    <script>
    $(function () {
        initTable("#mainTable", false);
        initPager("#mainTable", @(Model.SearchModel.PageIndex),  @(Model.SearchModel.PageSize),  @(Model.Total), function (pageIndex) { Search(pageIndex); });
    })
    </script>
}




